
head{
margin:auto
}
body{
margin:auto
}
h1{
text-align:center;
text-decoration:underline;
background-color: rgba(255,255,255,0.5);
padding:0px;
margin:auto;
font-size:100px;
font-family: 'Bangers', cursive;
background-image: url('https://unsplash.com/photos/Nyvq2juw4_o/download');
}
#intro{
color:white;
}

.buttons{
height:70px;
width:70px;
margin:auto;
border: solid grey 5px;
padding:1px;
}


table{
margin:auto;
border-collapse:collapse;
}

.levels{
border-radius:500px;
border-color: orange;
font-size:20px;
font-family: 'Gelasio', serif;
}

#stats{
font-size:20px;
text-align:center;
background-color: rgba(2,2,2,0.5);
color: white;
}

#all{
background-image: url('https://unsplash.com/photos/Nyvq2juw4_o/download');
font-family: 'Gelasio', serif;
}
#message{
font-size:40px;
}
#intro{
font-size:20px;
text-align:center;
background-color: rgba(1,1,1,0.3);
border-radius:50px;
}
td{
padding:0px;
}
